:root {
    max-width: 1366px;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem;
    background: #f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    @apply text-dark;
}

